.modal_block {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;

	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: flex-end;
	transition: 3s;
}

.child_modal {
	height: 100vh;
	width: 400px;
	overflow: auto;
	background-color: rgb(241, 228, 228);
	z-index: 90;
	position: relative;
	top: 0;
}
.close_all {
	height: 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.close_all img {
	width: 25px;
	height: 25px;
	cursor: pointer;
}
.my_card {
	padding-left: 15px;
	font-size: 25px;
	font-family: arial;
}
